.foto-grid__item {
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 768px) {
  .foto-grid__item {
    min-width: 46vw;
    min-height: 34vw;
  }
}

@media screen and (min-width: 1024px) {
  .foto-grid__item {
    min-width: 22vw;
    min-height: 17vw;
  }
}
