.place__link {
  font-size: 18px;
  line-height: 1.22;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  margin-bottom: 48px;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.place__link:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
